<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.wxmini.mapper.UserMapper">
    <select id="getById" resultType="com.hao.wxmini.domain.User" parameterType="java.lang.Long">
        select * from t_user id = #{id}
    </select>

    <insert id="insert" parameterType="com.hao.wxmini.domain.User">
        INSERT INTO t_user (name,age) VALUES (#{name},#{age})
    </insert>
</mapper>